---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPost = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p> -->
    
    <ul class="post-container">        

        {allPost.map((post) =>
            <BlogPost url={post.url} pubDate={post.frontmatter.pubDate} imgUrl={post.frontmatter.image.url} imgAlt={post.frontmatter.image.alt} title={post.frontmatter.title}  description={post.frontmatter.description}/>
        )}

    </ul>
</BaseLayout>

<style>
    .post-container {
        list-style: none;        
    }

    .item_post {

    }

    a {
        padding: 0.5rem ;
        text-decoration: none;
        color: #252525;
        font-weight: 600;        
        border-radius: 0.1rem;        
    }

</style>