---
const { platform, username, iconColor } = Astro.props;

// const iconColor = `#4c1d95`;
---

<a style=`background-color: ${iconColor};` href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style define:vars={{iconColor}}>
    a {
        padding: 0.5rem 1rem;
        color: white;
        /* background-color: #4c1d95; */
        /* background-color: var(--iconColor); */
        text-decoration: none;
    }
</style>
