---
import BaseLayout from "./BaseLayout.astro";
const {frontmatter} = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>    
    <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Writen by {frontmatter.author}</p>
    <img class="img-post" src={frontmatter.image.url} alt={frontmatter.image.alt}>
    <slot />
</BaseLayout>

<style>
    .img-post {
        max-width: 100%;
    }
    
</style>